/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';
@import "assets/css/bootstrap.css";
@import "assets/css/styles.css";
@import "assets/css/font-awesome.min.css";
@import "assets/css/custom-table.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";



.datepicker table{
  width: 100% !important;
}

table tr td, table th{
  font-size:1.2rem !important;
}

.sidebar ul.nav ul.children li a.active {
  color: #ececec !important;
}

.todo-list-item{
  list-style: none;
}
.text-white{
  color:white !important;
}

.link-hover {
  cursor: pointer;
}
.panel_body{
    padding: 15px 0px;
    background-color: #e3c29d;
}
.panel_body label.col-md-1 {
  padding: 9px 0px;
}
.modal-title {
  font-size: 20px;
  }
.modal-footer {
    border-top: 0px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -25px;
}
i.fa {
  font-size: 20px !important;
  padding-right: 10px !important;
  color: #579c0a;
}
.fa-info-circle{
  color: blue;
}
a{
  cursor: pointer;
}
@media screen and (min-width: 992px){
.form-control-check{
  padding: 10px;
  width: 15px;
  margin: 20px;
  height: 15px;
}
.formcontent{
  width: 80%;
  // border: 1px solid gainsboro;
  // min-height: 490px;
  }
  .formcontent h1{
    border-bottom: 1px solid gainsboro;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .p0{
    padding: 0px;
  }


}

#time-picker-wrapper{
  z-index: 999999!important;
  position: absolute;
}