<form [formGroup]="ResetForm" (submit)="SubmitDialog(ResetForm.value)">
  <h1 mat-dialog-title>Reset Password for {{userName}}</h1>
<div mat-dialog-content>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Password</label>
      <div class="col-md-8">
        <input formControlName="Password" type="password" placeholder="New Password" class="form-control" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Confirm Password</label>
      <div class="col-md-8">
        <input formControlName="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control" autocomplete="off">
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <span fxFlex></span>
  <button type="button" mat-button (click)="CloseDialog()">Cancel</button>
  <button type="submit" mat-button cdkFocusInitial>Reset Password</button>
</div>
</form>